<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	 xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	 layout:decorate="~{layouts/admin.html}">
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
<div  layout:fragment="content" style="text-align: center;" class="col-12">
<div class="row">
<div class="col-7 mt-3">

<div >
<div style="height: 25px;width:200px; background-color: #027FCA;color: white;" >TIN MỚI NHẤT</div><br>
	<div>
		<h4>Tác động của dịch Covid-19 tới tình hình đăng ký doanh nghiệp trong Quý I/2020 và 
		dự báo ảnh hưởng của dịch bệnh trong thời gian tới
		</h4>
	Với những diễn biến ngày càng phức tạp của dịch bệnh Covid-19 gây ra cùng với tác động cộng hưởng từ những yếu tố khác, 
	số lượng doanh nghiệp thành 
	lập mới trong Quý I/2020 có xu hướng chững lại, tỷ lệ gia tăng thấp hơn nhiều so với cùng kỳ các năm trước
	</div>
</div><br>


<div style="height: 25px;width:250px; background-color: #027FCA;color: white;" >TÌNH HÌNH DOANH NGHIỆP</div><br>
	<div>
		<h5>Tình hình đăng ký doanh nghiệp tháng 4/2020</h5><br>
	Tình hình đăng ký doanh nghiệp trong tháng 4/2020 bị ảnh hưởng nặng nề bởi dịch bệnh Covid-19. Đặc biệt từ 01/4 đến 22/4, 
	cả nước thực hiện giãn cách xã hội nên số lượng doanh nghiệp thành lập mới có sự sụt giảm mạnh. 
	Trong tháng 4/2020, số doanh nghiệp thành lập mới là 7.885 doanh nghiệp với số vốn đăng ký là 93.854 tỷ đồng, 
	giảm 46,9% về số doanh nghiệp và giảm 43,8% về số vốn so với cùng kỳ năm 2019. (So sánh tháng 04/2019 với tháng 4/2018: tăng 2,4% 
	về số doanh nghiệp và tăng 25,0% về số vốn đăng ký). Đây là mức doanh nghiệp thành lập trong tháng thấp nhất trong 4 tháng qua.
	
	Số lao động đăng ký của các doanh nghiệp thành lập mới trong tháng 4/2020 là 72.020 người, giảm 45,2% so với cùng kỳ năm 2019 
	(so sánh tháng 4/2019 với tháng 4/2018, mức tăng là 23,2%).
	</div>
</div>
<div class="col-5 mt-3">
<div style="height: 25px;width:200px; background-color: #027FCA;color: white;" >TOP 10 STAFFS</div><br>
<div>
<table class="table">
  <thead>
    <tr>
      <th scope="col">STT</th>
      <th scope="col">Name</th>
     
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Nguyễn Văn Tân</td>
  
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Mai Hoàng Nam</td>
  
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Nguyễn Nam</td>
      
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Lê Tuấn Nam</td>
      
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>Hà Huy Nam</td>
      
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Trần Mai Tuấn</td>
      
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Châu Vĩ Lan</td>
      
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Hà Hồng Thủy</td>
      
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Hoàng Anh Tuấn</td>
      
    </tr>
    <tr>
      <th scope="row">10</th>
      <td>Trần Hoàng Kì</td>
      
    </tr>
  </tbody>
</table>

</div>
</div>
</div>
</div>
</body>
</html>